<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resume of {{name}}</title>


</head>
<body>
<style>
    body {
        color: #123;
        background: #fff;
        font-size: 10px;
        text-rendering: optimize-speed;
    }


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'ClearSans', serif;
    }

    a {
        color: #39b54a;
    }

    h1,h2,h3,h4,h5,h6 {
        font-style: normal;
        font-family: 'ClearSans bold', serif;
    }

    strong {
        font-family: 'ClearSans bold';
    }

    ul {
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    li {
        width: 100%;
        margin-bottom: 1rem;
        position: relative;
        list-style-type: none;
    }
    li:before {
        content: '';
        position: absolute;
        left: -27px;
        top:4px;
        width: 16px;
        height: 16px;
        background-size: 100%;
    }

    p {
        display: inline-block;
        margin-bottom: 1.62rem;
    }

    h3 {
        margin-bottom: 1rem;
        border-bottom: 1px solid #ccc;
        display: block;
        font-size: 1.2rem;
    }

    h4 {
        margin-bottom: 0.62rem;
        margin-top: 1rem;
        border-bottom: 1px dashed #333;
        display: block;
    }


    /************************
     * CV HEADER
     ************************/





    article.main {
        padding-top: 2rem;
        margin-left: 33%;
        width: 100%;
        float: left;
    }

    aside {
        position: absolute;
        left: 0;
        /*background: #e2e3eb;*/
        border-right: 1px solid #e9e9e9;
        width: 33%;
        padding: 2rem;
    }

    aside img {
        width: 100%;
        margin-top: 0.62rem;
        margin-bottom: 1rem;
    }

    aside h3 {
        border: none;
        margin-bottom: 0.5rem;
    }

    aside p {
        margin-bottom: 1rem;
        display: block;
    }

    div.main {
        margin-left: 33%;
        padding: 2rem 2rem 0 2rem;
    }
</style>
<header class="top" style="width:100%;  background-color: #595959; ">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/1280px-LinkedIn_Logo.svg.png" style="width: 90px; padding: 10px 10px;">
</header>


<aside>
    <img src="{{image}}" style="height:150px;object-fit: cover" alt="">

    <article class="entry">
        <h3>Skills</h3>


            <p>Google search</p>

    </article>

    <article class="entry">
        <h3>Spoken languages</h3>


                <p>English – B2</p>


    </article>
</aside>

<div class="main">
    <article class="entry">
        <h2>{{name}} {{surname}}</h2>
        <p>Email: {{email}}</p>
    </article>
    <article class="entry">
        <h3>Short biography</h3>
        <p>
            I like programming because it never ends. I can make many different things and still have many new different things to make.
            I love the thrill to get it working
        </p>
    </article>

    <article class="entry">
        <h3>Work experience</h3>
        <ul>
            {% for job in experiences %}
                <li  style="width:100%;  ">

                        <div style="display: inline-block;   vertical-align: middle;">
                            <strong>{{job.company}}, {{ job.area }}</strong><br>
                            {{job.startDate}} - {{ job.endDate }}<br>
                            {{job.role}}<br>
                            {{ job.description }}
                         </div>


                </li>
            {% endfor %}
        </ul>
    </article>


    <article class="entry">
        <h3>Education</h3>
        <ul>
            {% for edu in educations %}
                <li style="display: flex; justify-content: space-between; align-items: center">
                    <div>
                        <strong>
                            {{edu.startDate}} - {{ edu.endDate }}<br>
                            {{edu.name}}
                        </strong> <br>
                        {{ edu.degree }}
                    </div>


                </li>
            {% endfor %}
        </ul>
    </article>



</div>

</body>
</html>