

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Resume of {{name}}</title>
</head>
<style>
    body {
        background-color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'ClearSans', serif;
        }
    .entry,
    header {
        background-color: #ffffff;
        margin-bottom: 10px;
        box-shadow: 1px 5px 8px 0px rgba(153,145,153,1);
        width:100%;
    }

    .title span {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        margin-right: 10px;
        color: #6c7270;
        font-weight: 400;
    }
    .icon {
        width: 45px;
    }
    .text {
        margin: 20px 10px;
        font-size: 10px;
    }
    li {
        list-style-type: none;
    }
    p {
        padding : 1px;
        margin : 0;
    }
</style>
<body>
<header style="background-color: #595959;">
    <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/1280px-LinkedIn_Logo.svg.png"
            style="width: 90px; padding: 10px 10px;"
    />
</header>
<div class="entry" style="width:100%">
    <div style="padding: 20px 20px; display: inline-block; vertical-align: middle;">
        <img src="{{ image }}"style=" width: 130px; " />
    </div>
    <div
            style="display: inline-block; vertical-align: middle; margin-left: 90px;"
    >
        <span style="font-size: 15px; font-weight: 500;">{{ name }} {{ surname }}</span
        ><br />

        <span
                style="
            font-size: 10px;
            font-style: italic;
            margin-left: 5px;
            margin-top: 20px;
          "
        >{{ email }}</span
        >

    </div>
</div>
<div class="entry">
    <div class="summary" style="padding: 20px 20px;">
        <div class="title">
            <span
            ><img
                        class="icon"
                        src="https://www.freeiconspng.com/uploads/summary-png-icon-3.png"
                /></span>
            <span>Summary</span>
        </div>
        <div class="text" style="margin: 10px 10px;">
            <span>
              I like programming because it never ends. I can make many
              different things and still have many new different things to make.
              I love the thrill to get it working </span
            >
        </div>
    </div>
</div>
    <div class="entry">

        <div class="experience" style="padding: 20px 20px;">
            <div class="title">

                <span>Experience</span>
            </div>
            <div class="text" style="margin: 10px 20px;">
              <ul>
                  {% for job in experiences %}
                  <li  style="width:100%;  ">
                      <div style="display: inline-block;   vertical-align: middle; color:#595959;">
                          <p style="font-size: 10px; font-weight: bold; color: black;">{{job.company}}, </p>
                          <p style="font-size: 10px; font-weight: 400;" > {{job.role}}</p>
                          <p ><i> {{job.startDate}} - {{ job.endDate }}</i> </p>

                          <p >{{ job.description }}</p>
                      </div>
                      <div style="display: inline-block; margin-left: 200px;   vertical-align: middle;">
                          <img src="{{ job.image }}" style="width:50px"/>
                      </div>

                  </li>
                  {% endfor %}
              </ul>
            </div>
        </div>
    </div>

<div class="entry">

    <div class="education" style="padding: 20px 20px;">
        <div class="title">


            <span>Education</span>
        </div>
        <div class="text" style="margin: 10px 20px;">

            <ul>
                {% for edu in educations %}
                    <li  style="width:100%;  ">
                        <div style="display: inline-block;   vertical-align: middle; color:#595959;">
                            <p style="font-size: 10px; font-weight: bold;  color: black;">{{edu.name}}, </p>

                            <p ><i> {{edu.startDate}} </i> </p>

                            <p >{{ edu.degree }}</p>
                        </div>
                        <div style="display: inline-block; margin-left: 200px;   vertical-align: middle;">
                            <img src="{{ edu.image }}" style="width:50px"/>
                        </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

</body>
</html>
